body {
	/* overflow-x: hidden; */
	margin: 0 auto;
    padding: 0;
		display: inline-block;
}

a {
	color:rgb(162, 161, 214);
}

.content {
	/* margin-right:-10px;
	margin-left:5px;
	margin-top:5px; */
	vertical-align:left;
	width:100%;
	margin: 10px;
	color:lightgray;
	margin:10px;
	display: inline-block;
}

.cblock {
	padding-bottom: 7px;
}

.filename {
	width: 300px;
}

.extension {
	display: inline-block;
	padding-top:4px;
}
